.skills {
    text-align: center;
    background-color: rgb(244, 255, 255);
}

h2 {
    text-align: center;
}

.subtitle {
    color:rgb(18, 17, 17);
    font-style: italic;
    margin-bottom: 25px;
    padding: 10px;
}